<!-- routes -->
<div class="col-11 d-flex flex-column mb-4">
    <!-- subgroup -->
    {{range $subgroup, $items := .current_group.Subgroups}}
    <div class="col-12 d-flex flex-wrap mt-4">

        <!-- subgroup name -->
        <div class="col-12 px-3 d-flex justify-content-between align-items-center border-bottom" id="sg-{{$subgroup}}">
            <a href="#sg-{{$subgroup}}" class="subgroup__link">{{$subgroup}}</a>
            <span class="c-pointer" onclick="toggleSubgroupVisibility('{{$subgroup}}', event)">hide</span>
        </div>
        <!-- subgroup name -->

        <!-- items -->
        <div class="items__list col-12" id="subgroup-{{$subgroup}}-items">
            {{range $item := $items}}
            <div class="col-12 d-flex flex-wrap bg-white mt-2 align-items-center shadow-sm">
                <a class="col-12 d-flex" id="{{$subgroup}}-{{$item.Method}}-{{$item.Route}}"
                    href="#{{$subgroup}}-{{$item.Method}}-{{$item.Route}}"
                    onclick="toggleItemVisibility('{{$subgroup}}-{{$item.Method}}-{{$item.Route}}-info')">
                    <span class="col-1 px-3 p-2" method="{{$item.Method}}">{{$item.Method}}</span>
                    <div class="items_list__route col-10 mx-3 d-flex align-items-center">
                        <span>{{$item.Route}}</span>
                        <span class="mx-4">{{$item.Annotation}}</span>
                    </div>
                </a>


                <!-- item information -->
                <div class="col-12 p-2" id="{{$subgroup}}-{{$item.Method}}-{{$item.Route}}-info" hidden>
                    <!-- desc -->
                    <div class="col-12 d-flex flex-column bg-light m-border-left-black px-2 py-3">
                        {{if $item.Description}}
                        {{range $item.Description}}
                        <i>{{.}}</i>
                        {{end}}
                        {{else}}
                        <i>Decsription is missing</i>
                        {{end}}
                    </div>
                    <!-- /desc -->

                    <!-- params -->
                    {{if $item.Params}}
                    {{range $param := $item.Params}}
                    <div class="col-1 p-1 mt-3" located="{{$param.Located}}">
                        <span>in {{$param.Located}}</span>
                    </div>
                    <pre class="col-12 bg-dark text-white p-2 m-0"><b>{{.Text}}</b></pre>
                    {{if $param.Description}}
                    <div class="col-12 p-2 d-flex flex-column bg-light m-border-left-black">
                        {{range $param.Description}}
                        <span>{{.}}</span>
                        {{end}}
                    </div>
                    {{end}}
                    {{end}}
                    {{end}}
                    <!-- /params -->
                </div>
                <!-- /item information -->
            </div>

            {{end}}
        </div>
        <!-- /items -->

    </div>
    {{end}}
    <!-- subgroup -->
</div>
<!-- /routes -->